{% extends "base.html" %}

{% block title %}
    <title>Tests -> Detail: {{ test.pk }}</title>
{% endblock %}

{% block content %}
    <h2>Название теста: {{ test.name }}</h2>
    <p>Описание: {{ test.description }}</p>
    <p>Количество вопросов: {{ questions.count }}</p>
    <p>Максимальное количество баллов: {{ max_points }}</p>
    {% if test_status == "completed" %}
            <p>Вы уже проходили этот тест</p>
            <p>Ваш результат: {{ percent }}</p>
            {% if test_result %}
                <p>Тест пройден успешно</p>
            {% else %}
                <p>Тест завален</p>
            {% endif %}
            <button type="submit" id="restart_test">Начать заново</button>
    {% elif test_status == "not_started" %}
        <a href="{% url "questionnaire:question-detail" test_pk=test.pk question_pk=1 %}">Начать отвечать</a>
    {% else %}
        <a href="{% url "questionnaire:question-detail" test_pk=test.pk question_pk=1 %}">Продолжить отвечать</a>
    {% endif %}
    <p>Вопросы:</p>
    {% for question in questions %}
        {{ question.pk }}: {{ question.text }}
        <br>
    {% endfor %}
{% endblock %}
{% block js %}
    <script>
        const restart_button = document.getElementById("restart_test");
        let delete_request = new XMLHttpRequest();
        delete_request.onreadystatechange = function () {
            if (delete_request.readyState === 4 && delete_request.status === 200) {
               document.location.href = "{% url "questionnaire:question-detail" test_pk=test.pk question_pk=1 %}"
            }
        };
        delete_request.open("DELETE", "{% url "questionnaire:test-detail" test_pk=test.pk %}");
        if (restart_button) {
            restart_button.addEventListener("click", function () {
                delete_request.send();
            })
        }
    </script>
{% endblock %}